source_env_if_exists .envrc.local

## Example .envrc.local:
#
# export GMAIL_EMAIL="jackenyon@gmail.com"
# export GMAIL_PASSWORD="rgvi tqru ietj njew"
# 
# export BACKUP_DIR="./mailbox"
# export DRY_RUN="false"
# ## Example: INBOX,[Gmail]/All Mail
# export FOLDERS_ONLY=""
# MAX_WORKERS=2
#
