source_env_if_exists .envrc.local

## Example .envrc.local:
#
# export GMAIL_EMAIL="email@gmail.com"
# export GMAIL_PASSWORD="xxxx xxxx xxxx xxxx"
# 
# export BACKUP_DIR="mailbox"
# export DRY_RUN="false"
# ## Example: INBOX,[Gmail]/All Mail
# export FOLDERS_ONLY=""
# export MAX_WORKERS=1
# export LOG_LEVEL=INFO
# 
# export GMAIL_CLIENT_ID=
# export GMAIL_CLIENT_SECRET=
# export OAUTH2_TOKEN_FILE=
# 
